body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: -5px;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    size: 100vh;
    background-color: #000000;
}
.Header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:#000000;
    font-size: 24px;
    margin-bottom: -20px;
    padding-right: 120px;
    padding-left: 70px;
    border-bottom: solid rgb(74, 73, 73);

}

.Links{
    display: flex;
    
}

a{
    text-decoration: none;
    color: white;
}

li{
   list-style: none; 
}

.Hero-Section{
    display: flex;
    margin-top: 20px;
    background-color: #383838;
    color: white;
   
   padding: 140px 24px;
    justify-content: space-evenly;
    background-color: black;
}
h1{
    font-size: 48px;
    font-weight: 900;
}
.hero-text{
    font-size: 18px;
    margin-bottom: 20px;
}

.fid{
    width: 50%;
}
.sid{
    border-radius: 15px;
    background: #0fa47a;
    padding: 10px;
    width: 550px; 
    height: 400px;
 
}
button{
    margin-top: 20px;
    background-color: #0fa47a;
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 20px;
    background: #0fa47a;
    border: none;
    
}
.Second-Section{
    text-align: center;
    color: rgb(0, 0, 0);
   padding: 80px 20px;
    background-color: #bac4b4;
    padding-top: -20px;

    
}
.heading{
   margin-bottom: 70px;
    color: #000000;
    font-size: 36px;
    margin-top: -30px;


}
.info-container {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    flex-wrap: wrap; 
}

.info{
    text-align: center;
    width: 30%;
    padding: 20px;
  
}
.info img {
    width: 100%;
    height: auto;
    border-radius: 15px;
    background: #0fa47a;
    padding: 5px;

}
    .text{
    color: rgb(0, 0, 0);
    font-size: 18px;
}
.testimonials{
    color: white;
    font-size: 36px;
    background-color: #595958;
    
    padding: 100px
   
}
.headin{
    text-align: center;
    padding-bottom: 50px;
}
.review{
    font-size: 26px;
    font-style: italic;
    
}
.Customer{
 display: flex;
 flex-direction: row-reverse;
 font-weight: 700;
 font-size: 20px;
 padding-top: 20px;
 
}
.cta{
    margin: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 50px;
    background-color: #023612;
    color: white;
    gap: 20px;
    border-radius: 15px;
}
.footer{
    text-align: center;
    color: white;
    background-color: #4b4b4b;
    padding: 5px;
}